<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353146767564-70b7pel2rf04o647r3pnmnkrb730bg1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353146767564-70b7pel2rf04o647r3pnmnkrb730bg1i</string>
	<key>API_KEY</key>
	<string>AIzaSyAyyw77IfXlNOKX7AgGoMwIS88aufLEJic</string>
	<key>GCM_SENDER_ID</key>
	<string>353146767564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blesify.readapp</string>
	<key>PROJECT_ID</key>
	<string>sixth-arbor-304611</string>
	<key>STORAGE_BUCKET</key>
	<string>sixth-arbor-304611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353146767564:ios:32c39c23ad7df81bc15a69</string>
</dict>
</plist>